.scripts--tabbedPane {
  white-space: pre-line;
}

.scripts--listGroup-parent {
  overflow-y: scroll;
  max-height: 40rem;
}
.scripts--listGroup {
  width: 100%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  flex: 1 0 auto;
}
