.var-input--wrapper{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.var-input--input{
  float:left;
  width: 100%;
  margin-right: 2rem;
}
.var-input--input-label{
  float:left;
  margin:auto;
  margin-right: 2rem;
}
