{% extends 'base.html' %}

{% block header %}
  <h1>data dump</h1>
{% endblock %}

{% block content %}
  {% for el in results %}
    <div>
      <span>{{el.id}} {{el.type}} {{el.code_str}} {{el.owner_id}}</span>
    </div>

  {% endfor %}
{% endblock %}
